<nav style="background-color: aliceblue;" class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"><span style="font-weight: 700; color: red; font-size:2rem;"> <i class="fa-solid fa-bell-concierge"></i> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a style="color: black !important;" class="nav-link" href="/home">Home</a>
          <a style="color: black !important;" class="nav-link" href="/recipes">All Recipes</a>
          <a style="color: black !important;" class="nav-link" href="/recipes/new">Create New Recipe</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if(!currUser) { %>
            <a style="color: black !important;" class="nav-link" href="/login">Login</a>
            <a style="color: black !important;" class="nav-link" href="/signup">Sign Up</a>
          <% } %>
          <% if(currUser) { %>
            <a style="color: black !important;" class="nav-link" href="/logout">Log Out</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>